<launch>
  <arg name="map_file" default="$(find dashgo_bringup)/maps/bj050101.yaml" />
  <arg name="initial_pose_x" default="0.0" />
  <arg name="initial_pose_y" default="0.0" />
  <arg name="initial_pose_a" default="0.0" />
  <arg name="safety_filters" default="true" />
  <arg name="rviz" default="false" />

  <include file="$(find dashgo_bringup)/launch/base.launch" />

  <node name="map_server" pkg="map_server" type="map_server"
        args="$(arg map_file)" output="screen" />

  <node name="amcl" pkg="amcl" type="amcl" output="screen" respawn="true">
    <rosparam command="load" file="$(find dashgo_bringup)/config/navigation/amcl.yaml" />
    <param name="odom_frame_id" value="odom_combined" />
    <param name="base_frame_id" value="base_footprint" />
    <param name="global_frame_id" value="map" />
    <param name="initial_pose_x" value="$(arg initial_pose_x)" />
    <param name="initial_pose_y" value="$(arg initial_pose_y)" />
    <param name="initial_pose_a" value="$(arg initial_pose_a)" />
    <remap from="scan" to="scan" />
  </node>

  <node name="move_base" pkg="move_base" type="move_base"
        output="screen" respawn="true" clear_params="true">
    <rosparam command="load" ns="global_costmap"
              file="$(find dashgo_bringup)/config/navigation/costmap_common_params.yaml" />
    <rosparam command="load" ns="local_costmap"
              file="$(find dashgo_bringup)/config/navigation/costmap_common_params.yaml" />
    <rosparam command="load" file="$(find dashgo_bringup)/config/navigation/local_costmap_params.yaml" />
    <rosparam command="load" file="$(find dashgo_bringup)/config/navigation/global_costmap_params.yaml" />
    <rosparam command="load" file="$(find dashgo_bringup)/config/navigation/base_global_planner_param.yaml" />
    <rosparam command="load" file="$(find dashgo_bringup)/config/navigation/teb_local_planner_params.yaml" />
    <rosparam command="load" file="$(find dashgo_bringup)/config/navigation/move_base_params.yaml" />
  </node>

  <group if="$(arg safety_filters)">
    <node pkg="dashgo_bringup" type="laser_safety_gate.py"
          name="laser_safety_gate" output="screen">
      <rosparam command="load" file="$(find dashgo_bringup)/config/safety/box_filter.yaml" />
    </node>
    <node pkg="dashgo_bringup" type="laser_safety_gate.py"
          name="laser_safety_gate_2" output="screen">
      <rosparam command="load" file="$(find dashgo_bringup)/config/safety/box_filter_2.yaml" />
      <remap from="scan" to="scan_2" />
      <remap from="is_passed" to="is_passed_2" />
    </node>
  </group>

  <include if="$(arg rviz)" file="$(find dashgo_bringup)/launch/rviz.launch" />
</launch>
